<body>
<div class="box">
    <div class="content">
        <table>
            <tr>
                <td>Username:</td>
                <td><%= username %></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><%= pwd %></td>
            </tr>
            <tr>
                <td>Name:</td>
                <td><%= name %></td>
            </tr>
            <tr>
                <td>Gender:</td>
                <td><%= gender %></td>
            </tr>
            <tr>
                <td>Professional:</td>
                <td><%= professional %></td>
            </tr>
        </table>
</div>
</body>