<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改页面</title>
    <link rel="stylesheet" href="../static/css/results.css">
</head>
<body>
<div class="box" style="height:400px">
    <div class="content">
        <form action="/update" method="get">
            <input type="hidden" value="<%= id %>" name="id">
            <table width="250px">
                <tr></tr>
                <tr>
                    <td>Username:</td>
                    <td><input class="txtb col" type="text" name="Username" value="<%= Username %>" readonly="readonly"></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input class="txtb" type="text" name="Password" placeholder="<%= Password %>" value="<%= Password %>"></td>
                </tr>
                <tr>
                    <td>Name:</td>
                    <td><input class="txtb" type="text" name="Name" placeholder="<%= Name %>" value="<%= Name %>"></td>
                </tr>
                <tr>
                    <td>Gender:</td>
                    <td><input class="txtb" type="text" name="Gender" placeholder="<%= Gender %>" value="<%= Gender %>"></td>
                </tr>
                <tr>
                    <td>Professional:</td>
                    <td><input class="txtb" type="text" name="Professional" placeholder="<%= Professional %>" value="<%= Professional %>"></td>
                </tr>
                <tr>
                    <td colspan="2"><input class="btn" type="submit" value="修改"></td>
                </tr>
            </table>
        </form>
    </div>
</div>
</form>
</body>
</html>